html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #333;
}
#map-canvas {
    height: 850px;
    width: 100%;
}

.container#col-map, .container#col-chart{
    width: 100%;
    margin: auto;
    padding: 15px;
}

.popup-header {
    text-align: center;
}