html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #333;
}
hr {
    border-color: #222;
}
#map-canvas {
    height: 850px;
    max-width: 1024px;
    margin: auto;
}
.container#col-map, .container#col-chart {
    width: 100%;
    margin: auto;
    padding: 15px;
    color: white;
}
.popup-header, .comment-header h1, .comment-header p {
    text-align: center;
}
#getComment {
    padding: 20px 20%;
    border: 1px solid white;
}
footer, #myChart-01 {
    color: white;
}
.list-inline-item {
    padding: 20px !important;
}
.footer-copyright {
    padding-bottom: 20px;
    color: #727272;
}

#endangered{
    color: white;
}